@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <img class="img-fluid" src="~/images/bikes.jpg" />
</div>
<br>
<div class="row text-center">
    <div class="col">
        <h3 class="display-4">Welcome To Bike Parts Shop</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <h4 class="card-title">Customer Summary</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Stock</div>
            <div class="card-body">
                <h4 class="card-title">Stock Summary</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Order Summary</div>
            <div class="card-body">
                <h4 class="card-title">Warning card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Staff Summary</div>
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

